*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root{ 
    --color1: #F2F2F2;
    --color2: #7C9EA6;
    --color3: #024959;
    --color4: #024059;
    --color5: #023859;
    --color6: rgb(216, 216, 216);

}

body {
    background-attachment: fixed;
    background-position: center;
}

header {
    display: grid;
    align-items: start;
    justify-items: center;
    justify-content: center;
}

.head_up {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    background: var(--color6)
}

div#content {
    background: var(--color1);
    width: 100%;
    margin: 0px auto;
    padding: 0px 20px;
}

.buscar {
    width: 40%;
    display: inline-flex;
}

.logreg {
    width: 26%;
    margin: 0 auto;
    text-align: right;
}

.logreg a {
    margin-right: 15px;
    color: var(--color3);
}

.RRSS {
    width: 30%;
    margin: 0 auto;
}

.RRSS a {
    text-decoration: none;
    color: var(--color3);
    margin-left: 15px;
}

.logo {
    width: 10%;
    height: auto;
}

.categorias {
    width: 50%;
}

ul#top-nav-barra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.categorias li {
    margin: 0 20px;
    list-style: none;
}

.perfil {
    width: 10%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.ofertas_columnas {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.dropdown-toggle::after {
    display: none;
}
.dropdown-menu{
    top:58px;
    left:0px;
    padding:10px;
}

.alert-primary{
    background-color: #E4F1FF;
}

ul.dropdown-menu.rounded-0.border-0.show {
    background: var(--color4)!important;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
html, body, p, div{
    letter-spacing: -0.02px;
    font-family: 'Roboto', sans-serif;
}

/* Integracion Boton Whatsapp */

#test-container{
    height: 100vh;
    width: 100vw;
    background: gray;
}

#chat-start-btn{
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    background: #000;
    color: #fff;
    height: 6vh;
    padding: 1vw 3vw;
    border: none;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
}
#phone-svg-wrp{
    height: 100%;
    margin-right: 1vw;
}

/* chat box */
.chat-box-container{
    position: fixed;
    bottom: 15vh;
    height: 30vh;
    right: 5vw;
    width: 30vw;
    background: #fff;
    display: none;
    opacity: 0;
}
#cb-close-btn{
    position: absolute;
    top: 2vw;
    right: 2vw;
    background: rgba(0, 0, 0, 0.425);
    color: black;
    border: none;
    font-size: 12px;
    padding: .25vw;
}
.cb-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: rgba(163, 140, 129, 0.623);
}
#cb-top-section{
    height: 35%;
    background: #fff;
    display: flex;
    flex-direction: row;
    padding: 1vw;
}
#cb-top-section ul{
    list-style: none;
    padding-left: 2vw;
}
#cb-top-section ul li{
    padding-bottom: 1vh;
}
#cb-mid-section{
    height: 45%;
    background: url('https://elfsight.com/assets/chats/patterns/whatsapp.png');
    background-size: cover;
    background-position: center;
    padding: .5vw 0 .5vw 2vw;
}
#cb-mid-section ul{
    background: #fff;
    width: 70%;
    height: 100%;
    border-radius: 10px;
    padding: 5px;
    list-style: none;
    position: relative;
}
#cb-mid-section ul::before{
    content: ' ';
    position: absolute;
    left: -10px;
    top: 0;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
}
#cb-mid-section ul li:nth-child(1){
    color: gray;
}
#cb-mid-section ul li:nth-child(3){
    font-size: 12px;
    text-align: right;
    color: gray;
}



#cb-btm-section{
    height: 20%;
    background: #fff;
    padding-top: 2%;
}
#cb-start-btn{
    height: 80%;
    width: 90%;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    background: rgb(0, 201, 98);
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    padding: .25vw;
    color: #fff;
}
.appear-up{
    display: block;
    animation: appear-up 1s forwards;
}

@keyframes appear-up {
    to{
        opacity: 1;
        transform: translateY(3vh);
    }
}