*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}



:root{ 
    --color1: #e9ade2;
    --color2: #CC1DB9;
    --color3: #9c178d;
    --color4: #680e5d;
    --color5: #530c4b;
    --color6: rgb(216, 216, 216);
    --paragrph: #222525;

}

body {
    background-attachment: fixed;
    background-position: center;
}

header {
    display: grid;
    align-items: start;
    justify-items: center;
    justify-content: center;
}

.head_up {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    background: var(--color6)
}

div#content {
    background: white;
    width: 100%;
    margin: 0px auto;
    padding: 0px 20px;
}

.buscar {
    width: 20%;
    display: inline-flex;
}

.logreg {
    width: 26%;
    margin: 0 auto;
    text-align: right;
}

.logreg a {
    margin-right: 15px;
    color: var(--color3);
}

.RRSS {
    width: 100%;
}

.RRSS a {
    text-decoration: none;
    color: var(--color3);
    margin-left: 15px;
}

.nav-estilo {
    background: var(--color5);
}

.logo {
    width: 15%;
    height: auto;
}

.categorias {
    width: 40%;
}


ul#nav-barra {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    top: 8px;
}

.categorias li {
    margin: 0 10px;
    list-style: none;
}

.categorias a {
    color: var(--color2);
}

.perfil {
    width: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.ofertas_columnas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-contenedor {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.ofertas {
    width: 90%;
    margin: 0 auto;
}

.titulo_ofertas {
    width: 100%;
    margin: 10px auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

div#to_linea {
    width: 20%;
    background: var(--color5);
    height: 5px;
    margin: 0 5px;
}

.sobrenosotros {
    width: 23%;
    padding: 0px 15px;
    text-align: center;
}

.sobrenosotros span {
    font-size: 20px;
    font-weight: bold;
}

.sobrenosotros p {
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    text-align: justify;
    font-size: 12px;
}

.perfil a {
    color: var(--color2);
    margin-left: 20px;
    font-size: 18px;
}

.mapa {
    text-align: center;
}

.mapa span {
    font-size: 20px;
    font-weight: bold;
}

.RRSS {
    width: 97%;
    margin-left: 15px;
    text-align: left;
}

.RRSS span {
    font-size: 10px;
}

.contactanos {
    width: 35%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.cont-copyright {
    width: 100%;
    margin: 0 auto;
    display: inline-flex;
}

.cont-copyright p {
    margin: 0 auto;
    text-align: center;
    font-size: 9px;
}

.producto {
    width: 80%;
    margin: 0 auto;
}

.producto_columnas {
    display: inline-flex;
    justify-content: center;
}

.pro_colum {
    width: 40%;
}

.pro_colum p {
    font-size: 13px;
    text-align: justify;
}

.pro_colum {
    width: 40%;
    display: grid;
    align-items: center;
    justify-items: center;
}

.newsletter {
    width: 20%;
}

/*------------ HTML LOGIN  --------------*/

.contenedor {
    width: 80%;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.login-titulo {
    padding: 30px;
}

.login-contenido {
    padding: 30px 50px 52px 50px;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
html, body, p, div{
    letter-spacing: -0.02px;
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/* TARGETS DE PRODUCTOS */

#titulo_oferta{
    margin: 20px;
    text-align: center;
    font-size: 28px;
}





.wrap-style{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.card_1{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 80px;
    grid-template-areas: "image" "text";
    border-radius: 18px;
    text-align: center;
    margin: 10px;
}

.image-resize{
    height: 210px;
}

.card-image img{
    width: 250px;
    /* Para recortar una imagen */
    /* clip: rect(50px,500px,500px,50px); */
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text{
    grid-area: text;
    margin: 20px;
}

.price{
    color: var(--color4);
    font-size: 20px;
    font-weight:bold;
}
.card-text p{
    color: var(--paragrph);
    font-size: 15px;
    font-weight: 300;
}

.card-text h2{
    font-size: 20px;
    margin-top: 0px;
}

.card-buttom{
    grid-area: buttom;
}
.card-buttom-2{
    margin-right: 15px;
}















/* Integracion Boton Whatsapp */

#test-container{
    height: 100vh;
    width: 100vw;
    background: gray;
}

#chat-start-btn{
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    background: #000;
    color: #fff;
    height: 6vh;
    padding: 1vw 3vw;
    border: none;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
}
#phone-svg-wrp{
    height: 100%;
    margin-right: 1vw;
}

/* chat box */
.chat-box-container{
    position: fixed;
    bottom: 15vh;
    height: 30vh;
    right: 5vw;
    width: 30vw;
    background: #fff;
    display: none;
    opacity: 0;
}
#cb-close-btn{
    position: absolute;
    top: 2vw;
    right: 2vw;
    background: rgba(0, 0, 0, 0.425);
    color: black;
    border: none;
    font-size: 12px;
    padding: .25vw;
}
.cb-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: rgba(163, 140, 129, 0.623);
}
#cb-top-section{
    height: 35%;
    background: #fff;
    display: flex;
    flex-direction: row;
    padding: 1vw;
}
#cb-top-section ul{
    list-style: none;
    padding-left: 2vw;
}
#cb-top-section ul li{
    padding-bottom: 1vh;
}
#cb-mid-section{
    height: 45%;
    background: url('https://elfsight.com/assets/chats/patterns/whatsapp.png');
    background-size: cover;
    background-position: center;
    padding: .5vw 0 .5vw 2vw;
}
#cb-mid-section ul{
    background: #fff;
    width: 70%;
    height: 100%;
    border-radius: 10px;
    padding: 5px;
    list-style: none;
    position: relative;
}
#cb-mid-section ul::before{
    content: ' ';
    position: absolute;
    left: -10px;
    top: 0;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
}
#cb-mid-section ul li:nth-child(1){
    color: gray;
}
#cb-mid-section ul li:nth-child(3){
    font-size: 12px;
    text-align: right;
    color: gray;
}



#cb-btm-section{
    height: 20%;
    background: #fff;
    padding-top: 2%;
}
#cb-start-btn{
    height: 80%;
    width: 90%;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    background: rgb(0, 201, 98);
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    padding: .25vw;
    color: #fff;
}
.appear-up{
    display: block;
    animation: appear-up 1s forwards;
}

@keyframes appear-up {
    to{
        opacity: 1;
        transform: translateY(3vh);
    }
}

/*---- PROFILE ----*/

.profile-content{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.profile-up {
    width: 100%;
    margin: 0 auto;
    display: grid;
    justify-items: center;
}

.profile-pattern {
    background: url(https://images2.imgbox.com/f7/36/QZh5ZkrA_o.jpg);
    width: 100%;
    height: 250px;
    background-size: auto;
    background-position: center;
}

.profile-img-user {
    position: absolute;
    width: 150px;
    height: 150px;
    margin-top: 180px;
}

.profile-img-user img {
    width: 150px;
    height: 150px;
    border: 2px solid var(--color1);
    border-radius: 100%;
}

.profile-content {
    width: 80%;
    margin: 50px auto;
    border: 1px solid var(--color1);
}

.profile-info {
    padding: 45px 20px;
    width: 100%;
}

.profile-content-column {
    display: inline-flex;
    width: 100%;
}

.profile-column {
    width: 50%;
    display: grid;
    align-items: center;
    justify-items: center;
    background: var(--color6);
}

.profile-info-simple {
    display: inline-flex;
    width: 100%;
}

.profile-info-label {
    width: 30%;
    padding: 5px;
    text-align: center;
}

.profile-info-content {
    width: 70%;
    padding: 5px;
    background: white;
    border-top: 1px solid var(--color1)
}

.profile-wishlist {
    width: 100%;
    padding: 15px 5px;
    height: 600px;
}

.profile-compras {
    width: 100%;
    padding: 15px 5px;
    background: var(--color1);
    height: 600px;
    margin-top: -100px;
}

.profile-historial {
    width: 98%;
    height: 690px;
    margin-top: 0px;
    overflow: auto;
}

.profile-compras-wishlist {
    width: 99%;
    background: white;
    padding: 15px;
    height: 150px;
    margin: 0 auto 10px auto;
}

.profile-wishlist-content {
    width: 98%;
    margin: 0 auto;
    height: 580px;
    overflow: auto;
}

.profile-compras-wishlist-content {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile-compras-wishlist-img {
    width: 30%;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 120px;
}

.profile-compras-wishlist-details {
    width: 70%;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 120px;
}