<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Nombre de tienda{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="head_up">
            <div class="RRSS">
                <a href="#" title="Whatsapp"><i class="fab fa-whatsapp"></i></a>
                <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
                <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
            </div>
            <div class="buscar">
                <form action="/search" method="POST">
                    {% csrf_token %}
                    <input class="form-control me-2" type="text" placeholder="Buscar" aria-label="Search" name="search">
                    <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                </form>
                
            </div>
            <div class="logreg">
                <a href="/profile/{{request.session.u_id}}" title="Profile">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                </a>
                <a href="/logout" title="Log in"><i class="fas fa-sign-out-alt"></i></a>
            </div>
        </div>
        <nav class="navbar">
            <div class="logo"><i class="fas fa-cat"></i> <span>Logo</span></div>
            <div class="categorias">
                <ul id="top-nav-barra">
                    <li><a href="">TODOS LOS JUEGOS</a></li>
                    <li><a href="">FAMILIARES</a></li>
                    <li><a href="">INFANTILES</a></li>
                    <li><a href="">NAIPES</a></li>
                </ul>
            </div>
            <div class="perfil">
                <a href="carrito"><i class="fas fa-shopping-basket"></a></i>
                <a href="login">Login</a>
                <a href="register">Register</a>
        </nav>
    </header>
    <div id="content">{% block content %} {% endblock %}</div>
</body>
<hr>
<footer class="navbar navbar-fixed-bottom">

    <p>© 2022 Proyecto Grupal Coding Dojo - Bootcamp de Python <br>
        Todos los derechos reservados.
    </p>
</footer>
</html>