<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="top-nav-wrapper">
        <div id="top-nav">
            <a href="https://api.whatsapp.com/send?phone=56994806547&text= Hola!%20Quiero%20comprar%20un%20juego%20de%20mesa!"><img class="whatsapp" src="" alt="whatsapp"></a>
            <a href="https://www.instagram.com/xxxxx"><img class="Instagram" src="" alt="Instagram"></a>
            <a href="www.facebook.com/xxxxx"><img class="Facebook" src="" alt="Facebook"></a>	
            <input id="search-box" class="text-box" type="text" name="search">
            <input type="image" src="search_icon.png" alt="searchicon">
        </div>
    </div>
    <ul id="top-nav-barra">
        <img src="logo.png" alt="logo">
        <li><a href="">Categoria1</a></li>
        <li><a href="">Categoria2</a></li>
        <li><a href="">Categoria3</a></li>
        <li><a href="">Categoria4</a></li>
    </ul>
</div>
    <h1>HOME </h1> 
    <hr>
    <div>
        {% for i in products %}
        <p>Nombre: {{i.nombre}}</p>
        <p>Precio:{{i.precio}}</p>
        
        <img src="../../media/{{i.image}}" alt="">
        {% endfor %}
    </div>

    <a href="login">login</a>
    <a href="register">register</a>
    <hr>
    <div>
        <h1>Suscríbete a nuestro Newsletter</h1>
        <form action="/newsletter" method="POST">
            {% csrf_token %}
            <input type="text" name="email" placeholder="example@codingdojo.com">
            <input type="submit" value="Enviar" style="font-size: 20px;">
        </form>
    </div>
</body>
</html>