{% extends "./base.html" %}
{% load static %}
{% block title %}Nombre de tienda{% endblock %}
{% block content %}
    <h1>HOME LOGUEADO </h1> 
    <div>
        <span>Hola <a href="/profile/{{user.id}}">{{ user.nombre }}</a></span>
    </div>
    <div>
        <a href="/logout"><button type="button">Logout</button></a>
    </div>
    <hr>
    <div>
        {% for i in products %}
            <p>Nombre: {{i.nombre}}</p>
            <p>Precio:{{i.precio}}</p>
            <img src="../../media/{{i.image}}" alt="">
        {% endfor %}
    </div>
{% endblock %}