{% extends "./base.html" %}
{% load static %}
{% block title %}Nombre de tienda{% endblock %}
{% block content %}
    <div class="contenedor">

    <div class="login-titulo"><h1>¡Ingresa a <span syle="font-weight: bold">Juéga<span style="background: #CC1DB9; color: white;">lo!</span></span></h1></div>
    
    <div class="login-contenido">
        <form action="/login_process" method= 'POST'>
            {% csrf_token %}
            <label for="">E-mail:</label>
            <input class="form-control me-2" type="email" name ='correo'>
            <label for="">contraseña:</label>
            <input class="form-control me-2" type="password" name ='password'><br>
            <input type="submit" value="login" >
        </form>
    </div>

    </div>
    
{% endblock %}