<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    producto
    <form action="/carrito" method="POST">
        {% csrf_token %}
        <h1>{{ producto.nombre }}</h1>
        <h4>{{ producto.description }} </h4>
        <img src="../../media/{{producto.image}}" alt="">
        <h6>{{ producto.category_slug }}</h6>
        <input type="hidden" value="{{ producto.nombre }}" name="pedido">
        <button type="submit" >Añadir al carrito</button> 
    </form>
</body>
</html>