{% extends "./base.html" %}
{% load static %}
{% block title %}Nombre de tienda{% endblock %}
{% block content %}
    producto
    <form action="/carrito" method="POST">
        {% csrf_token %}
        <h1>{{ producto.nombre }}</h1>
        <h4>{{ producto.description }} </h4>
        <img src="../../media/{{producto.image}}" alt="">
        <h6>{{ producto.category_slug }}</h6>
        <input type="hidden" value="{{ producto.nombre }}" name="pedido">
        <button type="submit" >Añadir al carrito</button> 
    </form>
{% endblock %}