<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <img src="{{ user_profile.profile.image.url }}" alt="">
    <!-- <p>{{ user_profile.profile.image }}</p>
    <p>{{ user_profile.profile.image.url }}</p> -->

    <p>Nombre: {{user_profile.nombre}}</p>
    <p>Apellido: {{user_profile.apellido}}</p>
    <p>Correo: {{user_profile.correo}}</p>
    <a href="#">Actualizar Perfil</a>
    
</body>
</html>